<div class="navbar navbar-dark bg-dark box-shadow mb-4">
  <div class="container d-flex justify-content-between">
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
      <strong>Movies</strong>
    </a>
  </div>
</div>
