<div class="row">
  <div class="col-12">
    <app-spinner [isLoading]="isLoading$ | async"></app-spinner>
  </div>
</div>

<app-error-message [error]="error$ | async"></app-error-message>

<div class="row" *ngIf="movie$ | async as movie">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{movie.name}}</li>
      </ol>
    </nav>
  </div>

  <div class="col-md-12">
    <div class="card flex-sm-row">
      <div class="text-center">
        <img class="rounded-left" [src]="'assets/images/movie-covers/' + movie.img" [alt]="movie.name"/>
      </div>

      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
          {{movie.name}}
        </h3>
        <div>
          <a [routerLink]="'/genre/' + genre" *ngFor="let genre of movie.genres" class="badge badge-secondary font-weight-lighter mr-1">
            {{genre}}
          </a>
        </div>
        <div class="mb-1 text-muted">Rate: {{movie.rate}}</div>
        <div class="mb-1 text-muted">{{movie.length}}</div>
        <p class="card-text mb-auto">{{movie.description}}</p>
      </div>
    </div>
  </div>
</div>

