<div class="row mb-1" *ngIf="genre">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{genre}}</li>
      </ol>
    </nav>
  </div>
</div>

<app-error-message [error]="error$ | async"></app-error-message>

<div class="row mb-3">
  <div class="col-12">
    <input #searchQuery type="text" class="form-control" placeholder="Search movies ..." [ngModel]="query"/>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <app-genre-badge [activeGenre]="genre"></app-genre-badge>
  </div>
</div>

<app-spinner [isLoading]="isLoading$ | async"></app-spinner>

<div class="row" *ngIf="(isLoading$ | async) === false">
  <div class="col-lg-6 col-md-12" *ngFor="let movie of movies$ | async">
    <div class="card flex-sm-row mb-4">
      <a [routerLink]="'/movie/' + movie.id + '/' + movie.key" class="text-center">
        <img [src]="'assets/images/movie-covers/' + movie.img" [alt]="movie.name"/>
      </a>

      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
          <a [routerLink]="'/movie/' + movie.id + '/' + movie.key">{{movie.name}}</a>
        </h3>
        <div>
          <a [routerLink]="'/genre/' + genre" *ngFor="let genre of movie.genres" class="badge badge-secondary font-weight-lighter mr-1">
            {{genre}}
          </a>
        </div>
        <div class="mb-1 text-muted">{{movie.length}}</div>
        <p class="card-text mb-auto">{{movie.description}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 text-center mt-5" *ngIf="(movies$ | async)?.length == 0">
    <h3>No videos found in search results.</h3>
  </div>
</div>

